@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --primary-color:#3498db;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family:'Open Sans',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    padding:20px;
}
.main-container h1{
    color:var(--primary-color);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 50px;

}
.btn{
    color:white;
    border: 1px solid;
    cursor:pointer;
    border-radius: 5px;
    padding:10px 12px;
    font-size:15px;
    width: 35%;
    background-color: var(--primary-color);
}
.container input{
    border:1px solid #ccc;
    border-radius: 5px;
    background:transparent;
    font-size: 14px;
    width: 60%;
    text-align:center;
    margin-right: 1px;
    padding:10px 0px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-container{
    display: block;
    align-items: center;
    padding:50px 30px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 95%;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}


.results-container {
    display: block;
    align-items: center;
    margin-top: 30px;
    padding:30px 30px;
    border-radius: 10px;
    width: 95%;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    visibility: hidden;
}
.results-container.show{
    visibility: visible;
}

.lyrics-container {
    overflow: auto;
    height: 500px;
    font-size:14px;
}

@media(min-width:600px){
    .main-container{
        width:600px;
    }
    .results-container{
        width:600px;
        margin-top: 5px;
    }
    .lyrics-container{
        height:300px;
    }
}

